# Soundcard configuration for ALSA driver
# Copyright (c) by Anders Semb Hermansen <ahermans@vf.telia.no>,
#                  Jaroslav Kysela <perex@suse.cz>

CONFIG_SND_DUMMY=m
CONFIG_SND_VIRMIDI=m
CONFIG_SND_SERIAL_U16550=m
CONFIG_SND_MTPAV=m
CONFIG_SND_MPU401=m
CONFIG_SND_ALS100=m
CONFIG_SND_AZT2320=m
CONFIG_SND_CMI8330=m
CONFIG_SND_DT019X=m
CONFIG_SND_ES18XX=m
CONFIG_SND_OPL3SA2=m
CONFIG_SND_SGALAXY=m
CONFIG_SND_SSCAPE=m
CONFIG_SND_AD1816A=m
CONFIG_SND_AD1848=m
CONFIG_SND_CS4231=m
CONFIG_SND_CS4232=m
CONFIG_SND_CS4236=m
CONFIG_SND_PC98_CS4232=
CONFIG_SND_ES1688=m
CONFIG_SND_GUSCLASSIC=m
CONFIG_SND_GUSMAX=m
CONFIG_SND_GUSEXTREME=m
CONFIG_SND_INTERWAVE=m
CONFIG_SND_INTERWAVE_STB=m
CONFIG_SND_OPTI92X_AD1848=m
CONFIG_SND_OPTI92X_CS4231=m
CONFIG_SND_OPTI93X=m
CONFIG_SND_SB8=m
CONFIG_SND_SB16=m
CONFIG_SND_SBAWE=m
CONFIG_SND_ES968=m
CONFIG_SND_WAVEFRONT=m
CONFIG_SND_ALS4000=m
CONFIG_SND_AZT3328=m
CONFIG_SND_CMIPCI=m
CONFIG_SND_CS4281=m
CONFIG_SND_ENS1370=m
CONFIG_SND_ENS1371=m
CONFIG_SND_ES1938=m
CONFIG_SND_ES1968=m
CONFIG_SND_FM801=m
CONFIG_SND_INTEL8X0=m
CONFIG_SND_MAESTRO3=m
CONFIG_SND_RME32=m
CONFIG_SND_RME96=m
CONFIG_SND_SONICVIBES=m
CONFIG_SND_VIA82XX=m
CONFIG_SND_ALI5451=m
CONFIG_SND_CS46XX=m
CONFIG_SND_EMU10K1=m
CONFIG_SND_ICE1712=m
CONFIG_SND_ICE1724=m
CONFIG_SND_KORG1212=m
CONFIG_SND_NM256=m
CONFIG_SND_RME9652=m
CONFIG_SND_HDSP=m
CONFIG_SND_TRIDENT=m
CONFIG_SND_VX222=m
CONFIG_SND_YMFPCI=m
CONFIG_SND_POWERMAC=
CONFIG_SND_SA11XX_UDA1341=
CONFIG_SND_USB_AUDIO=m
CONFIG_SND_HARMONY=
CONFIG_SND_VXPOCKET=m
CONFIG_SND_VXP440=m
CONFIG_SND_SERIALMIDI=m
CONFIG_SND_PDPLUS=m
CONFIG_SND_MSND_PINNACLE=m
CONFIG_SND_PDAUDIOCF=m
